{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<div class="container mybg mb-2">
    <div class="row justify-content-center align-items-center imgfltr resizemain">
        <img src="/static/holybook.png" alt="a spellbook" class="col-md-2" style="min-width: 65px; width:13%;">
        <span class="display-6 col-md-10 colorbr" style="min-width: 163px">Filtrar Magias Divinas</span>
    </div>
</div>
<form action="/divina" method="post" class="mybgd container">
    <div class="row justify-content-between">
        <select aria-label="Default select" class="col-md-2 mybtn text-center colorbr" id="filter" name="filter">
            <optgroup label="Por círculo">
                <option value="" disabled selected hidden>Por círculo</option>
                <option value="1">1º</option>
                <option value="2">2º</option>
                <option value="3">3º</option>
                <option value="4">4º</option>
                <option value="5">5º</option>
            </optgroup>
        </select>
        <input autocomplete="off" autofocus="" class="col-md-7 mybgf mybtn1" name="sname"
            placeholder="Pesquisar em magias" type="text">
        <button class="col-md-2 mybtn colorbr" type="submit" id="liveAlertBtn">Filtrar</button>
    </div>
</form>
<div class="container mytable" id="cont">
    <div class="row mytabler justify-content-around rowstyletop align-items-center">
        <div class="col prio1 colstyle">Círculo</div>
        <div class="col-2 prio2 colstyle">Magia</div>
        <div class="col prio3 colstyle">Escola</div>
        <div class="col prio4 colstyle">Execução</div>
        <div class="col prio5 colstyle">Alcance</div>
        <div class="col-1 prio6 colstyle">Área</div>
        <div class="col prio7 colstyle">Duração</div>
        <div class="col-3 prio8 colstyle">Descrição</div>
        <div class="col prio9 colstyle">...</div>
    </div>
    {% for row in dmagias %}
    <div class="row mytabler justify-content-around rowstyled align-items-center" data-bs-toggle="collapse"
        data-bs-target="#spell{{ loop.index }}" role="button">
        <div class="col prio1 colstyle">{{ row.dcircle }}</div>
        <div class="col-2 prio2 prio2s colstyle">{{ row.dspell }}</div>
        <div class="col prio3 colstyle">{{ row.dschool }}</div>
        <div class="col prio4 colstyle">{{ row.exec }}</div>
        <div class="col prio5 colstyle">{{ row.range }}</div>
        <div class="col-1 prio6 colstyle">{{ row.area }}</div>
        <div class="col prio7">{{ row.dura }}</div>
        <div class="col-3 prio8 colstyle">{{ row.ddesc }}</div>
        <div class="col prio9 colstyle">...</div>
    </div>
    <span class="collapse" id="spell{{ loop.index0 + 1 }}">
        <div class="col fulldesc">
            {{ row.fdesc }}
        </div>
    </span>
    {% endfor %}
</div>
{% endblock %}